html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: blanchedalmond;
}

.container {
  width: 600px;
  height: 600px;
  background-color: white;
  margin: 0 auto;
}
.container__left {
  width: 200px;
  float: left;
}
.container__center {
  width: 200px;
  float: left;
}
.container__right {
  width: 200px;
  float: left;
}
.container__left--1 {
  height: 500px;
  background-color: red;
}
.container__left--2 {
  height: 100px;
  background-color: yellow;
}
.container__center--1 {
  height: 200px;
  background-color: blue;
}
.container__center--2 {
  height: 400px;
  background-color: green;
}
.container__right--1 {
  height: 300px;
  background-color: black;
}
.container__right--2 {
  height: 300px;
  background-color: pink;
}
